.git
.gitignore
.pytest_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
**/node_modules
multitenant/target
multitenant/.idea
chatbot/.vscode
chatbot/.pytest_cache
chatbot/logs
chatbot/kb
chatbot/adapters
chatbot/out
out
datasetv2
diagram
