--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.115.0
uvicorn[standard]==0.30.6

transformers==4.44.2
accelerate==0.34.2
torch==2.3.1+cpu

requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0
psycopg[binary]==3.2.3
